html {
	font-size: 18px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--spacing-unit: 24px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}